nav{
    top: 0%;
    width: 100%;
    /* position: fixed; */
    background-color: #192546;
}

.topnav{
    text-align: right;
    background-color: #192546;
   

}
.topnav a:hover{
    background-color: gray;

  }
  
.topnav ul li{
    list-style: none;
    display: inline-block;

}

.topnav ul li a{
    text-decoration: none;
    color: white;
    width: 100px;
    display: block;
    padding: 25px 30px;
    font-size: 15px;text-transform: uppercase;
    font-weight: bold;
    text-align: center;



}
/* styling navigation bar */
/* .my-navbar{
    text-align: right;
    color: black;
    background-color: rgb(14,194,184);
    width: 100%;
   
    
}
.my-navbar li :first-child{
  
    border-left: 1px
}


.my-navbar ul li{
    list-style: none;
    display: inline-block;
  
}
.my-navbar ul li a{
    text-decoration: none;
    color: white;
    width: 100px;
    display: block;
    padding: 25px 30px;
    font-size: 15px;text-transform: uppercase;
    font-weight: bold;
    text-align: center;
 
}
.my-navbar a:hover{
  background-color: black;
} */

/* aligning the image and text */
.column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
   
  }
/* positioning image */
.column img{
    margin-left: 100%;
    margin-right: auto;
    align-items: center;
    text-align: center;
    display: block;
    width: 500px;
    height: 350px;
    position: relative;
    bottom: -70px;
    float: left;
}
.caption p{
    position:relative; right:400px; top:2px;
    position: relative;
    top: 180px;
    font-size: 40px;
}

#section1{
    height: 600px;
    background-color: white;
    display: inline-block;
    width: 100%;
    text-align: center;
}
.row1{
    margin-top: 10%;
}

#section2{
    height: 600px;
    background-color: white;
    display: inline-block;
    width: 100%;
    text-align: center;
}
.column1{
    float: left;
    width: 50%;
    height: 700px;
  }
  
  /* Clear floats after the columns */
  .row1:after {
    content: "";
    display: table;
    clear: both;
  }




h1{
    color: whitesmoke;
    text-align: center;
}

.intro p{
    color: black;
}
.caption2 h1{
    color: black;
}
/* About text and button */
.card-text{
    margin-top: 160px;

}
.card-text2{
    margin-top: 160px;

}

.Button1{
    margin-top: -160px;

}
.Button2{
    margin-top: -160px;

}
.Button3 {
    left: 70px;
}

#btn{
    color: #0EC2B8;
    background-color: none;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    margin-top: -70px;
 

}

.btn1:hover{
    color: black;
}

#section3{
    height: 600px;
    background-color: white;
    display: inline-block;
    width: 100%;
    text-align: center;
    
}
#section3 h1{
    color: black;
}



.column2 {
   float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row2:after {
    content: "";
    display: table;
    clear: both;
   
  }
  /* section3 images */
  .row2{
      margin-top: 100px;
  }


#section4{
    height: 600px;
    background-color:white;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.section4 h1{
    background-color: #0EC2B8;
}


/* contact us page */

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 50%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: gray;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    bottom: -200%;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: white;
  }
  
  /* Add a background color and some padding around the form */
  .contactus{
    border-radius: 5px;
    background-color: #192546;
    padding-bottom: 50px;
    padding-top: 50px;
    width: 50%;
    margin-bottom: -70px;
   
  }

  .contactus{
      margin-left: 25%;
      margin-top: 8%;

  }







